
.root {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 95%;
  position: relative;
  width: 100%;
}

.middle {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbutton {
  border: none;
  background: var(--lightgrey);
  transition: all 250ms;
}

.navbutton:hover {
  background: var(--lightgrey-darker);
}

.navbutton:active {
  background: var(--lightgrey-dark);
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;
  width: 100%;
  border-top: solid lightgrey 1px;
  border-left: solid lightgrey 1px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
  width: 100%;
  border-bottom: solid lightgrey 1px;
  border-left: solid lightgrey 1px;
  border-right: solid lightgrey 1px;
}

.cellcontainer {
  text-align: center;
  width: 100%;
  position: relative;
}

.cell {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.dayOtherMonth {
  color: lightgrey;
}

.day {
  border-bottom: solid lightgrey 1px;;
  border-right: solid lightgrey 1px;
}

.dayname {
  font-size: 0.8em;
  padding-bottom: 50%;
}

.current {
  font-weight: bold;
}

.label {
  position: absolute;
  top: 0px;
  left: 2%;
  right: 2%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}
