

.root {
    background: #222831;
}

.appcontent {
    width: 40%;
    margin: auto;
    position: relative;
}

.content {
    background: white;
    padding: 50px;
    min-height: 95vh;
    position: relative;
}

.footer {
    position: fixed;
    overflow: hidden;
    height: 5vh;
    bottom: 0px;
    left: 30%;
    right: 30%;
    background: lightgrey;
}

@media only screen and (max-width: 960px) {
    .appcontent {
        width: 100%;
    }
    .content {
        padding: 10px;
    }
    .footer {
        left: 0%;
        right: 0%;
    }
}
